<ion-tabs (ionChange)="transition($event)">
  <ion-tab [root]="calendar" tabTitle="Календар" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="services" tabTitle="Послуги" tabIcon="md-albums"></ion-tab>
  <ion-tab [root]="contacts" tabTitle="Контакти" tabIcon="md-call"></ion-tab>
</ion-tabs>
