:root {
    --c1: #333d50;
    --c2: #d2ab2a;
    --c3: #cbd0d8;
    --c4: #f4f2ea;
    --c5: #f44336;
}

.cw {
    color: #fff;
}
.c1{
    color: #333d50;
}

.inactive-hr {
    pointer-events: none;
    opacity: 0.5;
    background: #bc8585;
    border: none !important;
}

.z {
    &-wp {
        &-a {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
        }
    }

    &-btn {
        &-a {
            position: relative;
            display: inline-block;
            color: white;
            border-radius: 25px;
            padding: 0;
            width: 40px;
            font-size: 14px;
            font-weight: 100;
            text-align: center;
            border: none;
            cursor: pointer;
            transition: all 100ms linear;

            &-mun{
                position: absolute;
                right: -2px;
                top: -2px;
                background: #d2ab2a;
                color: white;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                line-height: 15px;
                font-size: 10px;
            }

            &.active {
                color: var(--c2);
                font-weight: bold;
                padding: 5px 0;
            }
        }
    }

    &-offline{
        position: relative;
        height: 100%;
        &-a{
            position: relative;
        }


        &-title{
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 100;
            text-align: center;

            &-a{
                font-size: 20px;
                font-weight: 100;
                padding: 80px 0;
                text-align: center;
            }
        }
    }
}
