<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<ion-title>-->
<!--Services-->
<!--</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content>
    <img [src]="service.img" class="w100p"/>

    <div class="ph20">
        <h1 ion-text class="c1">{{service.summary}}</h1>
        <p>{{service.description}}</p>

        <ion-list>
            <ion-item>
                <img src="assets/icon/massage.svg" item-start height="31">
                {{service.time}} min.
                <ion-badge item-end>{{service.price}} грн.</ion-badge>
            </ion-item>
        </ion-list>


        <ion-card *ngIf="service.gallery" class="mn w100p mb20">
            <ion-card-header class="tac c1">
                Фото галерея
            </ion-card-header>

            <ion-card-content class="pn">
                <ion-scroll scrollX="true" class="wsn" style="height: 320px;">
                    <img *ngFor="let item of service.gallery" [src]="item" alt="" style="height: 320px;max-width: initial;display: inline-block;">
                </ion-scroll>
            </ion-card-content>
        </ion-card>



        <ion-card *ngIf="service.videos" class="mn w100p mb20">
            <ion-card-header class="tac c1">
                Відео галерея
            </ion-card-header>

            <video *ngFor="let i of service.videos" class="w100p" controls>
                <source [src]="i" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </ion-card>
    </div>
</ion-content>

