<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="z-wp-a">
                <div (click)="setDay(day.id)" *ngFor="let day of week" [ngClass]="{active: day.isActive, inactive: !isOnline}"
                     class="z-btn-a">
                    <div class="fsz16">{{day.date | date:'d'}}</div>
                    <div *ngIf="day.isActive" class="z-btn-a-mun">{{events.length}}</div>
                    <div *ngIf="!day.isActive" class="fw100 fsz14">{{day.date | date:'EEE'}}</div>
                </div>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <!--<img src="./assets/icon/loading.gif" alt="">-->
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <div *ngIf="isOnline" (swipe)="swipeEvent($event)">
        <ion-segment [(ngModel)]="masseur">
            <ion-segment-button value="inna" (click)="setDay(curDayId)">
                Інна
            </ion-segment-button>
            <ion-segment-button value="ira" (click)="setDay(curDayId)">
                Іра
            </ion-segment-button>
        </ion-segment>



        <!--<div (click)="addEvent(item)" *ngFor="let item of hrs" [ngClass]="{inactive: item.inactive}" class="e-hr">-->
            <!--<div *ngIf="item.time_line" [style.top]="item.time_line + 'px'" class="e-hr-time_line"></div>-->

            <!--<div class="e-hr-time">-->
                <!--{{item.start | date: 'HH:mm'}}-->
            <!--</div>-->


            <!--<div *ngFor="let z of item.events"-->
                 <!--[style.background]="z.color"-->
                 <!--[style.height]="z.height + 'px'"-->
                 <!--[style.top]="z.offsetTop + 'px'"-->
                 <!--class="e-hr-event">-->
                <!--<div class="e-hr-event-start">{{z.start | date: 'HH:mm'}}</div>-->

                <!--<div class="e-hr-event-title">{{z.summary}}</div>-->

                <!--<div class="e-hr-event-end">{{z.end | date: 'HH:mm'}}</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div *ngIf="item.inactive" class="e-hr-close"></div>&ndash;&gt;-->
        <!--</div>-->


        <mwl-calendar-day-view
            [viewDate]="viewDate"
            [dayStartHour]="8"
            [hourSegments]="6"
            [dayEndHour]="19"
            [refresh]="refresh"
            [locale]="'ca'"
            [events]="events"
            (beforeViewRender)="beforeHrRender($event)"
            (hourSegmentClicked)="addEvent($event.date, $event)">
        </mwl-calendar-day-view>
    </div>




    <div *ngIf="!isOnline" class="z-offline">
        <div class="z-offline-title">
            Відсутнє підключення до Інтернету
            <br>
            <span class="fsz12">Вам потрібен Інтернет для перегляду календаря</span>
        </div>
    </div>
</ion-content>
