<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="tac cw">
                <span>Забронювати масаж</span>


                <!--{{dateStart | date: 'MMM d'}}-->
                <!--at-->
                <!--{{dateStart | date: 'HH:mm'}}-->
                <!--{{dateEnd ? ' - ' + (dateEnd | date: 'HH:mm') : ''}}-->
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-background-page">
        <ion-card *ngIf="selectedService.img">
            <img [src]="selectedService.img"/>
            <div class="card-title">
                {{dateStart | date: 'EEEE d'}} <br>
                о <br>
                {{dateStart | date: 'HH:mm'}}
                {{dateEnd ? ' - ' + (dateEnd | date: 'HH:mm') : ''}}
            </div>
        </ion-card>
    </div>

    <form #f="ngForm" class="mt5 pall15">
        <md-select [(ngModel)]="selectedService" (change)="onSelectService()" name="massage" placeholder="Тип масажу"
                   required class="w100p mb10">
            <md-option *ngFor="let massage of services" [value]="massage">
                {{massage.summary}}
            </md-option>
        </md-select>

        <md-input-container class="w100p">
            <input [(ngModel)]="add.name" name="name" mdInput placeholder="Імя" required minlength="2">
        </md-input-container>

        <md-input-container class="w100p">
            <input [textMask]="{mask: mask}" [(ngModel)]="add.phone" name="phone" mdInput type="text" placeholder="Телефон" required/>
        </md-input-container>

        <md-input-container class="w100p">
            <input [(ngModel)]="add.email" name="email" mdInput placeholder="Пошта">
        </md-input-container>

        <md-input-container class="w100p">
            <textarea [(ngModel)]="add.additional" name="additional" mdInput
                      placeholder="Додаткова інформація"></textarea>
        </md-input-container>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="wp-btw ph30">
            <button (click)="close()" ion-button icon-only class="close">
                <ion-icon name="md-close"></ion-icon>
            </button>
            <button (click)="save(f)" [ngClass]="{inactive: f.invalid || !selectedService.summary}" ion-button icon-only class="add">
                <ion-icon name="md-checkmark"></ion-icon>
            </button>
        </div>
    </ion-toolbar>
</ion-footer>

