<ion-header [hidden]="true">
    <ion-navbar>
        <ion-title>Slides</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
    <button (click)="goToHome()" ion-button outline color="primary" style="position: absolute; right: 0; bottom: 0; z-index: 11; height: 28px; font-size: 12px;">пропустити</button>

    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image"/>
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/512.png" class="slide-image"/>
            <h2 class="slide-title">Готові забронювати час?</h2>
            <button (click)="goToHome()" ion-button large clear icon-end color="primary">
                вперед!
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>
